<div *ngIf="heroi">
  <h2>{{ heroi.name | uppercase }} Detalhe</h2>

  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label>ID</label>
        <input
          type="text"
          class="form-control"
          readonly
          value="{{ heroi.id }}"
        />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="name"
          [(ngModel)]="heroi.name"
        />
      </div>

      <button
        class="btn btn-primary mr-3"
        type="button"
        [disabled]="!heroi.name.trim()"
        (click)="save()"
      >
        Salva
      </button>

      <button class="btn btn-secondary" type="button" (click)="goBack()">
        Back
      </button>

    </div>
  </div>
</div>
